.chatlistMain{
    padding: 0;
}
.title{
    height:14vh;
    background-image: linear-gradient(skyblue,darkblue);

}

.chatInput{
    outline: none;
    border: none;
    padding: 0.5rem;
    background-color: #caf7d2;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 80%;
    color: black;
}

.chatBtn{
    color: #fff;
    background-color: #218838;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.logoutBtn{
    border: none;
    outline: none;
    color: coral;
    background-color: transparent;
}

.chatUser{
    color: whitesmoke;
    background-color: transparent;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    border-bottom: 1px solid lightslategrey;
    padding: 1rem 0.2rem;
}