span.clear { 
    clear: left; 
    display: block; 
}

.messageData{
    z-index: 3;
    height:60vh;
    overflow-y:scroll;
    background-color:whitesmoke;
    position: relative;
    
}

.messageData::-webkit-scrollbar{
    width: 1em;
}

.messageData .data{
    float: left;
}

.messageData .time{
    float: right;
    font-size:xx-small;
    position: relative;
    top: 10px;
    left: 15px;
    color: gray;
    margin-right: 10px;

    
}

.messageData .left{
    border-radius: 25px;
    background-color: rgb(240, 235, 235);
    width: fit-content;
    padding:5px 15px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
}


.messageData .right{
    border-radius: 25px;
    background-color:skyblue;
    width: fit-content;
    padding:5px 15px;
    margin-left: auto;
    margin-right: 0;
    -webkit-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
}

.messageCont{
    background-color: skyblue;
    border-radius:0 0 10px 10px;
    z-index: 5;
}

.messageCont input[type=text]{
    border-radius: 10px;
    padding:2% 8%; 
    margin:5% 2%;
    width: 60%;
    border: solid 1px lightgrey;
    outline: none;
}

.messageCont input[type=submit]{
    padding:2%;
    border-radius: 10px;
    background-color: whitesmoke;
    border: solid 1px lightgrey;
    color: grey;
    -webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;

}

.messageCont input[type=submit]:hover{
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);

}
