.container-name {
    background-color: #218838;
    display: inline-block;
    color: white;
    width: 100%;
    z-index: 5;
    border: 1px solid black;
    padding: 1rem 1rem;
    display: flex;
    align-content: center;
    border-radius: 5px 5px 0 0;
    font-weight: 800;
  }

span.clear { 
    clear: left; 
    display: block; 
}
.messageDataCont{
    background-color: green;
}
.messageData{
    display: table;
    width: 100%;
    z-index: 3;
    height:70vh;
    overflow-y:scroll;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    padding: 0.5rem 0;
}

.messageData::-webkit-scrollbar{
    width: 1em;
}

.messageData .data{
    display: table-cell;
    max-width: 25vw;
    background-color: transparent;
}

.messageData .time{
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    font-size:xx-small;
    position: relative;
    padding-right: 5px;
    left: 15px;
    color: gray;
    background-color: transparent;    
}
.messageData p{
    display: table;
    position: relative;
    text-align: left;
    word-break:break-all;
    border-radius: 25px;
    max-width: 30vw;
    padding:5px 20px 10px 10px;
    width: fit-content;
    -webkit-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px -2px rgba(0,0,0,0.75);
}
.messageData .left{
    /* background-image: radial-gradient(whitesmoke,lightgray); */
    background-color: greenyellow;
    margin-left: 10px;
    
}

.messageData .left .readreceipts{
    display: none;
    background-color: transparent;
}

.messageData .right{
    /* background-image: radial-gradient(blue,darkblue); */
    background-color: white;
    color:black;
    margin-left: auto;
    margin-right: 10px;
   
}

.messageData .right .readreceipts{
    display: inline;
    background-color: transparent;
}

.messageData .right .time{
    color:black;
}


.messageCont{
    display: table;
    width: 100%;
    background-color: whitesmoke;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}

.messageCont form{
    background-color: darkorchid;
}

.messageData .default{
    color: grey;
    display: table-cell;
    vertical-align: middle;
    width: 100% ;
}

.messageCont label{
    width: 90%;
    padding: 0 1rem;
    background-color: darkorchid;
}

.messageCont input[type=text]{
    display: table-cell;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin: 1rem 0;
    border: none;
    outline: none;
    width: 100%;
    background-color: #fff;
}
.sendMsg{
    width: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: darkorchid;
}
.messageCont button{
    border:none;
    background:none;
    display:table-cell;
    vertical-align: middle;
    width: 90%;
}
.messageCont img{
    width: 60%;
    background-color: darkorchid;
    -webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.messageCont img:hover{
    transform: scale(1.1);
}
.messageCont input[type=submit]{
    padding:2%;
    border-radius: 10px;
    background-color: darkblue;
    border: solid 1px lightgrey;
    color: white;
    -webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;

}

.messageCont input[type=submit]:hover{
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);

}
